body{text-color:#474346;}
h1{color:#0c755b;}
h2{color:#474346;}
a{color:#1e747c;font-weight: bold;text-decoration:none;}
a:hover{color:#474346}

/* Smartphones (portrait) ----------- */
@media screen 
and (max-width: 480px) {
  
  h1{font-size: 40px;}
  h2{font-size: 35px;}
  a{font-size: 30px;}
}
