h1{text-align:center; color:#0c755b;}
a{color:#1e747c;font-weight: bold;text-decoration:none;}
h2{color:#474346;}

/* Smartphones (portrait) ----------- */
@media screen (max-width : 480px) {
  
  h1{font-size: 40px;}
  h2{font-size: 35px}
  a{font-size: 30px;}
}
